html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    background-color: #1e1e1e;
    //background-image: url(./assets/images/Background.svg);
    background-attachment: scroll;
    background-size: 100%;
    background-repeat: no-repeat;
}
